@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: rebeccapurple;
    color: white;
}

body #content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    flex-direction: column;
}


/* PRODUCT AND PRODUCTS*/
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: magenta;
    text-decoration: none;
}


/* FORMS */
form {
    text-align: center;
}

label {
    width: 100%;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

input[type=text], textarea, input[type=number] {
    background-color: mediumpurple !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px mediumpurple inset !important;
}

input[type=submit] {
    padding-left: 1rem;
    padding-right: 1rem;
}

input:hover, textarea:hover {
    background-color: magenta !important;
}

input:focus {
        outline: none;
}



/* NAVBAR */
.navbar-nav {
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.navbar-nav li:hover {
    background-color: magenta;
}

.navbar-nav li {
    margin-left: 1rem;
    margin-right: 1rem;
    border: 3px solid white;
    cursor: pointer;
}

.navbar-nav li a {
    text-align: center;
    width: 8rem;
    color: white;
    text-decoration: none;
}

.navbar-nav li a:hover {
    color: unset;
    text-decoration: none;
}