@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: rebeccapurple;
    color: white;
}

body #content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    flex-direction: column;
}




/* PRODUCT AND PRODUCTS*/
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: magenta;
    text-decoration: none;
}

#del-form {
    display: inline-block
}

#del:hover {
    color: magenta;
    cursor: pointer;
}




/* FORMS */
form {
    text-align: center;
}

input, textarea {
    border-radius: 5px;
    border-color: white;
    border-width: 2px;
}

input[type=text], textarea, input[type=number] {
    background-color: mediumpurple !important;
    width: 20rem;
    border-style: inset;
    padding-left: .5rem;
    padding-right: .5rem;
}

input[type=submit] {
    padding-left: 2rem;
    padding-right: 2rem;
}

::placeholder, textarea { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder, textarea { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder, textarea { /* Microsoft Edge */
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px mediumpurple inset !important;
}

input:hover, textarea:hover {
    background-color: magenta !important;
}

input:focus, textarea {
        outline: none;
}




/* NAVBAR */
.navbar-nav {
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.navbar-nav li:hover {
    background-color: magenta;
}

.navbar-nav li {
    margin-left: 1rem;
    margin-right: 1rem;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    border-style: outset;
    cursor: pointer;
}

.navbar-nav li a {
    text-align: center;
    width: 8rem;
    color: white;
    text-decoration: none;
}

.navbar-nav li a:hover {
    color: unset;
    text-decoration: none;
}




/* 404 */
.jumbotron {
    background-color: rebeccapurple;
    text-align: center;
}