<nav class="navbar">
    <ul class="navbar-nav lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
        <li class="nav-item"><a class="nav-link" href="/products/create">New Product</a></li>
        <li class="nav-item"><a class="nav-link" href="/products/customcreate">New Product</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
    </ul>
</nav>