{% extends 'base.html' %}
{% block content %}

    <h1>Products</h1>
    {% for product in products_list %}
    <li>
        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a> -
        <a href="{{ product.get_absolute_url }}/update/">Update</a> -
        <form id="del-form" action="{{ product.get_absolute_url }}/delete/" method="post">
            {% csrf_token %}
            <a id="del" onclick="this.closest('form').submit()">Delete</a>
        </form>
    </li>
    {% endfor %}

{% endblock %}